[submodule "src/ldlidar"]
	path = src/ldlidar
	url = git@github.com:linorobot/ldlidar.git
	branch = ros2
[submodule "src/ldrobot-lidar-ros2"]
	path = src/ldrobot-lidar-ros2
	url = https://github.com/Myzhar/ldrobot-lidar-ros2.git
