<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="chassis_length" value="0.15"/>
    <xacro:property name="chassis_width" value="0.10"/>
    <xacro:property name="chassis_height" value="0.04"/>


    <!-- Define the robot base -->
    <link name="base_link"></link>

    <!-- Define the robot -->
    <link name="robot_link">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
            </geometry>
            <material name="orange"/>
        </visual>
    </link>

    <!-- Connect the robot to the base -->
    <joint name="robot_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="robot_link" />
    </joint>
</robot>